<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>	
    <body>
        <form method="post" action="../users/login">
            <div class="login-content">
                <div class="logo"> 
                    <a href="/"><img href="index" class="img-logo" src="../images/logo/Logo.png" alt="G10-Games"></a>
                </div>
                <div class="credentials-error">
                    <% if (locals.passwordError) { %>
                        <p class="errors"><%= passwordError %></p>
                    <% } %>
                </div>
                <div class="email">
                    <i class="fas fa-user-alt"></i>
                    <input id="email" name="email" placeholder="Ej: correo@gamer.com" value="<%= locals.old && old.email ? old.email : '' %>"/>
                    <% if (locals.errors && errors.email) { %>
                        <p class="errors"><%= errors.email.msg %></p>
                    <% } %>
                </div>
                <div class="password">
                    <i class="fas fa-key"></i>
                    <input id="password" name="password" type="password" placeholder="Contraseña"/>
                    <% if (locals.errors && errors.password) { %>
                        <p class="errors"><%= errors.password.msg %></p>
                    <% } %>
                </div>
                <div class="check-remember">
                    <label for="terminos">Recuerdame</label>
                    <input type="checkbox" name="remember">
                </div>
                <div class="login-button">
                    <button class="btn-submit" id="login-button" type="submit" >Iniciar sesión</button> 
                </div>
                <div class="forgot-password">
                    <a href="forgot-password" id="forgot-password">Olvide mi contraseña</a>    
                </div>
                <div class="register">
                    <label for="register">¿Aun no tienes una cuenta?</label> 
                    <a href="register" id="register">Regístrate</a>    
                </div>
                <input style="display:none" name="returnUrl" value="<%= locals.returnUrl ? returnUrl : '' %>"/>
            </div>
        </form>
        <%- include('../partials/contacto') %>	
        <%- include('../partials/footer') %>	
    </body>
</html>