<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
         <div class="register-content"> 
                <div class="logo"> 
                    <a href="/"><img class="img-logo" src="../images/logo/Logo.png" alt="G10-Games"></a>
                </div>
                <h1 class="titulo">
                    ¿Eres nuevo en G10-Games?
                </h1>
                <p>
                    Registrate y accede a nuestro E-Commerce!
                </p>    
                <div>
                    <form method="post" action="../users">
                        
                        <div class="register-error">
                            <% if (locals.error) { %>
                                <p><%= error %></p>
                            <% } %>
                        </div>            
                        <div class="fields">
                            <div class="field">
                                <i class="fas fa-id-card"></i>
                                <input id="name" name="nombre" placeholder="Nombre" value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                                <% if (locals.errors && errors.nombre) { %>
                                    <p class="errors"><%= errors.nombre.msg %></p>
                                <% } %>
                            </div>
                            
                            <div class="field">
                                <i class="fas fa-id-card"></i>
                                <input id="lastname" name="apellido" placeholder="Apellido" value="<%= locals.old && old.apellido ? old.apellido : '' %>">
                                <% if (locals.errors && errors.apellido) { %>
                                    <p class="errors"><%= errors.apellido.msg %></p>
                                <% } %>
                            </div>
                            
                            <div class="field">
                                <i class="fas fa-user-alt"></i>
                                <input id="email" name="email" value="<%= locals.old && old.email ? old.email : '' %>" placeholder="Correo electronico">
                                <% if (locals.errors && errors.email) { %>
                                    <p class="errors"><%= errors.email.msg %></p>
                                <% } %>
                            </div>
                            
                            <div class="field">
                                <i class="fas fa-user-alt"></i>
                                <input id="emailconfirmation" name="emailConfirmation" value="<%= locals.old && old.emailConfirmation ? old.emailConfirmation : '' %>" placeholder="Confirmar correo electronico">
                                <% if (locals.errors && errors.emailConfirmation) { %>
                                    <p class="errors"><%= errors.emailConfirmation.msg %></p>
                                <% } %>
                            </div>       
                            
                            <div class="field">
                                <i class="fas fa-key"></i>
                                <input id="password" name="password" type="password" value="<%= locals.old && old.password ? old.password : '' %>" placeholder="Contraseña">
                                <% if (locals.errors && errors.password) { %>
                                    <p class="errors"><%= errors.password.msg %></p>
                                <% } %>
                            </div>             
                            
                            <div class="field">
                                <i class="fas fa-key"></i>
                                <input id="passwordconfirm" name="confirmPassword" type="password" value="<%= locals.old && old.confirmPassword ? old.confirmPassword : '' %>" placeholder="Confirmar contraseña">
                                <% if (locals.errors && errors.confirmPassword) { %>
                                    <p class="errors"><%= errors.confirmPassword.msg %></p>
                                <% } %>
                            </div>    
                        </div>         
                        <div class="register-button">
                            <button class="btn-submit" id="register-button" type="submit" >Registrate </button> 
                        </div>

                    </form>
                    <div class="login">
                        <label for="login">¿Ya estas registrado?</label> 
                        <a href="login" id="login">Inicia sesión</a>    
                    </div>

                </div>

            </div>
            <%- include('../partials/contacto') %>	
            <%- include('../partials/footer') %>	
            <script src="../js/register_validate.js"></script>
        </body>
</html>