<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="register-content">
                <h1 class="titulo">
                    Crear juego
                </h1>
                <form id="form-create" method="post" action="../products" enctype="multipart/form-data">
                    <div class="fields">
                        <div class="field">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name" placeholder="Nombre del juego" value="<%= locals.old && old.name ? old.name : '' %>">
                            <% if (locals.errors && errors.name) { %>
                                <p class="errors"><%= errors.name.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="precio">Precio:</label>
                            <input type="number" id="precio" name="price" placeholder="Precio" value="<%= locals.old && old.price ? old.price : '' %>">
                            <% if (locals.errors && errors.price) { %>
                                <p class="errors"><%= errors.price.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="date">Fecha de creación:</label>
                            <input type="date" id="date" name="date" placeholder="Fecha de creacion" min="1900-01-01" max="<%= new Date(new Date().getFullYear(), 31, 12) %>"  value="<%= locals.old && old.date ? old.date : '' %>">
                            <% if (locals.errors && errors.date) { %>
                                <p class="errors"><%= errors.date.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="videoUrl">Enlace del video:</label>
                            <input type="text" id="videoUrl" name="videoUrl" placeholder="Url de video"  value="<%= locals.old && old.videoUrl ? old.videoUrl : '' %>">
                            <% if (locals.errors && errors.videoUrl) { %>
                                <p class="errors"><%= errors.videoUrl.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="desarrolladora">Desarrolladora:</label>
                            <select name="desarrolladora" id="desarrolladora">
                                <option value="0" <%= !(locals.old && locals.errors.desarrolladora) || !locals.errors.desarrolladora.value ? "selected" : '' %> disabled>Seleccione una desarrolladora</option>
                                <% for(let desarrolladora of locals.desarrolladoras){ %>
                                    <option value="<%= desarrolladora.id %>" <%= locals.old && locals.old.desarrolladora && locals.old.desarrolladora == desarrolladora.id ? "selected" : '' %> ><%= desarrolladora.Name %></option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.desarrolladora) { %>
                                <p class="errors"><%= errors.desarrolladora.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="productora">Productora:</label>
                            <select name="productora" id="productora">
                                <option value="0" <%= !(locals.old && locals.errors.productora) || !locals.errors.productora.value ? "selected" : '' %> disabled>Seleccione una productora</option>
                                <% for(let productora of locals.productoras){ %>
                                    <option value="<%= productora.id %>" <%= locals.old && locals.old.productora && locals.old.productora == productora.id ? "selected" : '' %>><%= productora.Name %></option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.productora) { %>
                                <p class="errors"><%= errors.productora.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="juagdores">Numero de jugadores:</label>
                            <input type="number" id="juagdores" name="juagdores" placeholder="Numero de juagdores"  value="<%= locals.old && old.juagdores ? old.juagdores : '' %>">
                            <% if (locals.errors && errors.juagdores) { %>
                                <p class="errors"><%= errors.juagdores.msg %></p>
                            <% } %>
                         </div>

                        <div class="field">
                            <label for="idioma">Idioma:</label>
                            <select name="idioma" id="idioma">
                                <option value="0" <%= !(locals.old && locals.errors.idioma) || !locals.errors.idioma.value ? "selected" : '' %> disabled>Seleccione un idioma</option>
                                <% for(let idioma of locals.idiomas){ %>
                                    <option value="<%= idioma.id %>" <%= locals.old && locals.old.idioma && locals.old.idioma == idioma.id ? "selected" : '' %>><%= idioma.Name %></option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.idioma) { %>
                                <p class="errors"><%= errors.idioma.msg %></p>
                            <% } %>
                        </div>

                        <div class="field">
                            <label for="discount">Descuento:</label>
                            <input type="number" id="discount" name="discount" placeholder="Descuento" value="<%= locals.old && old.discount ? old.discount : '' %>">
                            <% if (locals.errors && errors.discount) { %>
                                <p class="errors"><%= errors.discount.msg %></p>
                            <% } %>
                        </div>
                        
                        <div class="field">
                            <label for="category">Categoria:</label>
                            <select name="category" id="category">
                                <option value="0" <%= !(locals.old && locals.errors.category) || !locals.errors.category.value ? "selected" : '' %> disabled>Seleccione una categoria</option>
                                <% for(let category of locals.categories){ %>
                                    <option value="<%= category.id %>" <%= locals.old && locals.old.category && locals.old.category == category.id ? "selected" : '' %>><%= category.Name %></option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.category) { %>
                                <p class="errors"><%= errors.category.msg %></p>
                            <% } %>
                        </div>

                        <div class="field-row">
                            <label>Producto destacado:</label>
                            <input type="checkbox" id="sugerido" name="sugerido" value="sugerido">
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field-area">
                            <label for="description">Descripción:</label>
                            <textarea id="description" name="descripcion" placeholder="Descripción..." value="<%= locals.old && old.descripcion ? old.descripcion : '' %>"></textarea>
                            <% if (locals.errors && errors.descripcion) { %>
                                <p class="errors"><%= errors.descripcion.msg %></p>
                            <% } %>
                        </div>
                    </div>

                    <div class="fields">
                        <div class="field-image">
                            <label for="caratula">Portada:</label>
                            <div class="image-preview">
                                <input type="file" id="caratula" name="caratula" accept="image/*">
                                <div class="select-image" id="imageSelect">
                                    <i class="far fa-image"></i>
                                </div>
                                <img id="imgPreview">
                            </div>
                        </div>
                        <div class="field-image">
                            <label for="gallery">Galeria:</label>

                            <div class="image-preview">
                                <input type="file" id="gallery" name="gallery" accept="image/*" multiple>
                                <div class="select-image" id="gallerySelect">
                                    <i class="fas fa-images"></i>
                                </div>
                                <div id="galleryDetails" class="galleryDetails">
                                    <ul id="galleryList"></ul>
                                </div>
                            </div>
                        </div>
                        <script src="../js/script.js"></script>
                    </div>

                    <div class="register-button">
                        <button class="btn-submit" id="register-button" type="submit">Crear juego</button>
                    </div>
                </form>
            </div>
            <%- include('../partials/contacto') %>
                <%- include('../partials/footer') %>
    </body>

</html>