<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="content">
                <div class="product-list-options">
                    <% console.log(locals.rol) %>
                    <% if (locals.user && locals.rol && locals.rol == 'ADMIN') { %>
                        <a href="../products/create">Crear juego <i class="fas fa-plus"></i></a>
                    <% } %> 
                </div>
                <h1>
                    <%=titulo%>
                </h1>
                <%if(products.length){%>
                    <div class="games">
                        <ul class="games-list">

                           
                            <% for(let product of products){ %>
                                <li>
                                    <img src="<%= product.CoverageUrl %> " alt="<%= product.Name %>">

                                    <div class="game-description">
                                        <div class="game-descrition-items">
                                            <h2 class="game-name">
                                                <%= product.Name %>
                                            </h2>
                                            <p class="game-price">
                                                <%= product.Price %>
                                            </p>
                                        </div>
                                        <div class="deatil-buttons">
                                            <a href="../products/<%=product.id%>">Detalle</a>
                                            <a href="../products/productCart">Agregar <i
                                                    class="fas fa-shopping-cart"></i></a>
                                            <% if (locals.user && locals.rol && locals.rol == 'ADMIN') { %>
                                                <a href="../products/edit?id=<%=product.id%>">Editar 
                                                    <i class="fas fa-pencil"></i></a>
                                                <form method="post" action="../products/<%=product.id%>?_method=DELETE">
                                                    <button class="eliminar-producto">Eliminar 
                                                        <i class="far fa-trash-alt"></i></button>
                                                </form>
                                            <% } %>

                                        </div>
                                    </div>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                    <%}else{%>
                        <h2>
                            <%=emptyMessage%>
                        </h2>
                        <%}%>
            </div>
            <%- include('../partials/contacto') %>
                <%- include('../partials/footer') %>
    </body>

</html>